* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #7478c1;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-box input {
    margin-right: 8px;
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
}


.login-box button {
    background-color: #005a9e;
    color: white;
    border: none;
    padding: 7px 14px;
    border-radius: 4px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #004080;
}

.container {
    display: flex;
    min-height: 80vh;
}

.sidebar {
    width: 180px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 15px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 6px;
    color: #333;
}

.sidebar li:hover {
    background-color: #e1f0ff;
}

.sidebar li.active {
    background-color: #0078d7;
    color: white;
    font-weight: bold;
}

.content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}
.post-form{
    display:none;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 6px;
}

#post-list {
    list-style: none;
    padding: 0;
}

#post-list li {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.modal {
    position: fixed;
    top: 0; left: 0; right:0; bottom:0;
    background: rgba(0,0,0,0.5);
    display: flex; justify-content: center; align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}